#Ignore Python virtual environment directories
.venv

#Ignore all .stl files
#*.stl

#Ignore Python bytecode files
*.pyc
altprint/__pycache__/*
altprint/*.pyc

#Ignore all .yml files
*.yml

#Ignore all .gcode files
*.gcode
*.egg-info